.item {
  display: flex;
  align-items: center;
  min-width: 300px;
  padding: 8px 16px;
  box-sizing: border-box;

  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}

.status {
  width: 16px;
  height: 16px;

  border-radius: 50%;
}

.status.online {
  background-color: #51ac51;
}

.status.offline {
  background-color: #ff4f54;
}

.avatar {
  height: 100%;
  width: 48px;
  margin-left: 12px;
  margin-right: 12px;

  border-radius: 8px;
}

.name {
  margin: 0;

  font-size: 1.5rem;
}
